<mat-toolbar color="primary">
  <span>Chatbot</span>
</mat-toolbar>
<br>
<div class="chat-container">
  <div class="chat-box">
    <div *ngFor="let message of messages">
      <div [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
        <ng-container *ngIf="message.text">
          <span>{{ message.text }}</span>
          <br>
          <small>{{ message.fechaHora }}</small>  
        </ng-container>
        <ng-container *ngIf="message.urlImagen">
          <img [src]="message.urlImagen" alt="Imagen subida" />
          <br>
          <small>{{ message.fechaHora }}</small>
        </ng-container>
      </div>
    </div>
  </div>

  <mat-form-field class="message-input">
    <input matInput placeholder="Escribe un mensaje..." [(ngModel)]="inputText" (keyup.enter)="sendMessage()">
    <ng-container *ngIf="imagen">
      <img [src]="imagen" alt="Imagen subida" width="250" height="250" />
    </ng-container>
  </mat-form-field>
  <button mat-icon-button (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>

  <input type="file" (change)="onFileSelected($event)">
  <br>
  <button id="uploadButton" (click)="uploadImage()">Upload</button>
  <div *ngIf="response">
    <label for="response">{{response | json}}</label>
  </div>
</div>
