<mat-toolbar color="primary">
  <span>Chatbot</span>
</mat-toolbar>
<br>
<div class="chat-container">
  <div class="chat-box">
    <div *ngFor="let message of messages">
      <div [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
        <ng-container *ngIf="message.text">
          <span>{{ message.text }}</span>
          <br>
          <small>{{ message.fechaHora }}</small>  
        </ng-container>
        <ng-container *ngIf="message.urlImagen">
          <img [src]="message.urlImagen" alt="Imagen subida" />
          <br>
          <small>{{ message.fechaHora }}</small>
        </ng-container>
        <ng-container *ngIf="message.audioUrl">
          <audio  controls>
            <source [src]="message.audioUrl" type="audio/mpeg">
          </audio>
          <br>
          <small>{{ message.fechaHora }}</small>
        </ng-container>
      </div>
    </div>
  </div>

  <mat-form-field class="message-input">
    <input matInput placeholder="Escribe un mensaje..." [(ngModel)]="inputText" (keyup.enter)="sendMessage()">
    <ng-container *ngIf="imagen">
      <img [src]="imagen" alt="Imagen subida" width="250" height="250" />
    </ng-container>
    <audio *ngIf="audioUrl" controls>
      <source [src]="audioUrl" type="audio/mpeg">
    </audio>
  </mat-form-field>
  <button mat-icon-button (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>
  <label for="" style="color: aliceblue;">Imagen: </label>
  <input type="file" (change)="onFileSelected($event)">
  <br>
  <label for="" style="color: aliceblue;">Audio: </label>
  <input type="file" (change)="onAudioSelected($event)" accept="audio/*">

  <br>
  
  
</div>
