<mat-toolbar color="primary">
  <span>Chatbot</span>
</mat-toolbar>

<div class="chat-container">
  <div class="chat-box">
    <div *ngFor="let message of messages">
      <div [ngClass]="{'user-message': message.user, 'bot-message': !message.user}">
        <ng-container *ngIf="message.text">
          {{ message.text }}
        </ng-container>
        <ng-container *ngIf="message.urlImagen">
          <img [src]="message.urlImagen" alt="Imagen subida" />
        </ng-container>
      </div>
    </div>
  </div>

  <mat-form-field class="message-input">
    <input matInput placeholder="Escribe un mensaje..." [(ngModel)]="inputText" (keyup.enter)="sendMessage()">
  </mat-form-field>
  <button mat-icon-button (click)="sendMessage()">
    <mat-icon>send</mat-icon>
  </button>

  <input type="file" (change)="onFileSelected($event)">
</div>
